body {
  margin: 0;
  font-family: "Sen", sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.f-12 {
  font-size: 12px;
}
.homepage {
  background: #5252520f;
}

.navbar-toggler {
  background-color: white !important;
}
.navbar-toggler:focus {
  box-shadow: unset !important;
}
.bg-color {
  background: #4296e97d !important;
}

.homePage {
  background: whitesmoke;
}
.bg-fill {
  background: #5252520f !important;
}

.bg-unset {
  background: #5252520f !important;
  border-right: none !important;
}
.st-btn {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  padding: 20px 13px;
  text-transform: capitalize;
}
.tariff-btn {
  width: 100%;
cursor: pointer;
  padding: 9px 13px;
  font-size: 12px;
  border: 1px solid #e3e3e3;
}
.tariff-btn.active {
  background: #0a66c2;
  border: unset;
  color: white;
}
.cargo {
  padding: 3px;
  background: #5252520f;
  border-radius: 10px;
}
.cargo-btn {
  width: 100%;
  padding: 9px 13px;
  font-size: 12px;
  cursor: pointer;
  
}
.cargo-btn.active {
  color: #0a66c2;
  font-weight: bold;
  border: unset;
  border-radius: 8px;
  background: white;
}
.st-btn img {
  height: 44px;
  margin-right: -18px;
  margin-bottom: -28px;
}

.st-btn.active {
  background: #0a66c2;
  border: unset;
  color: white;
}

.segment-cont {
  background: white;
  padding: 20px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.form-g {
  border-left: none !important;
}
.input-group {
  flex-wrap: nowrap !important;
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.floating-label {
  font-size: 13px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.input-wrapper {
  display: flex;
  width: 100%;
}
.input-wrapper > div {
  width: 20%;
  min-width: fit-content;
}
.input-wrapper.left > div {
  margin-right: 7px;
}
.input-wrapper.right > div {
  margin-left: 7px;
  text-align: right;
}
.floating-label input {
  border: unset;
  width: calc(80% - 7px);
  outline: 1px solid #ffffffff;
}
.floating-label legend {
    float: unset; 
     width: unset; 
   padding: 0px 4px;
     margin-bottom: unset; 
     font-size: inherit
}
.fs-14{
  font-size: 14px !important;
  font-weight: 600;
}